[submodule "Singleton"]
	path = firmware/Singleton
	url = git://github.com/hazelnusse/Singleton.git
[submodule "firmware/nanopb"]
	path = firmware/nanopb
	url = https://code.google.com/p/nanopb
[submodule "submodules/libbicycle"]
	path = submodules/libbicycle
	url = git@github.com:oliverlee/libbicycle
[submodule "submodules/libcontrol"]
	path = submodules/libcontrol
	url = git@github.com:oliverlee/libcontrol.git
